---
layout: default
title: Home
---
<meta charset="utf-8">
{% if page.url == "/" %}
<a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fuwelllou.xyz&count_bg=%230300FF&title_bg=%23000000&icon=drone.svg&icon_color=%23FFFFFF&title=Views____Today+%2F+Total&edge_flat=false"/></a>
<script data-ad-client="ca-pub-1544312227423968" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>All pictures</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- stories
================================================== -->
<section class="stories-posts">
    <div class="section-title">
        <h2><span>All Stories</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.stories == true %}

            {% include storiesbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row">

        {% for post in paginator.posts %}
        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>


